.body_bg {
  background-color: #222D32;
}
ul {
  list-style: none;
}
.mt_150 {
  margin-top: 150px;
}
.mb_20 {
  margin-bottom: 20px;
}
.panel-title {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}